:root {
  --eeire-black: #1c1c1c;
  --rich-black: #031926;
  --mountbatten-pink: #a27e8e;
  --platinum: #daddd8;
  --alabaster: #ecebe4;
  --anti-flash-white: #eef0f2;
  --ghost-white: #fafaff;
}

body {
  background-color: var(--anti-flash-white);
  color: var(--rich-black);
  max-width: 1028px;
  margin: auto;
  text-align: center;
}

button {
  background-color: var(--platinum);
  color: var(--eeire-black);
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--mountbatten-pink);
  color: var(--eeire-black);
}
button:disabled {
  background-color: var(--anti-flash-white);
}
button:disabled:hover {
  background-color: var(--anti-flash-white);
  color: var(--eeire-black);
}
button a {
  text-decoration: none;
  color: var(--eeire-black);
}

h1, h2, h3, h4, h5 {
  color: var(--rich-black);
}

table {
  width: 100%;
  border-spacing: 2px;
  border: 2px solid var(--platinum);
}
thead tr {
  background-color: var(--alabaster);
}
th {
  font-size: 20px;
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background-color: var(--alabaster);
}

input {
  background-color: var(--ghost-white);
  color: var(--rich-black);
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  width: 400px;
}
tr:nth-child(even) input:disabled {
  background-color: var(--alabaster);
}
tr:nth-child(odd) input:disabled {
  background-color: var(--anti-flash-white);
}