<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='js/prompts.js') }}" defer></script>
  <title>Prompts</title>
</head>

<body>
  <h1>Prompts</h1>
  <table>
    <thead>
      <tr>
        <th>Text</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for prompt in prompts %}
      <tr>
        <td>
          <p>{{ prompt.text }}</p>
        </td>
        <td>
          <button type="button" onclick="navigate('/prompt/{{ prompt.id }}')">Manage Prompt</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </ul>
</body>

</html>